@font-face {
    font-family: 'Nexa ';
    src: local('Nexa  Regular'), local('Nexa--Regular'),
        url('Nexa-Regular.woff2') format('woff2'),
        url('Nexa-Regular.woff') format('woff'),
        url('Nexa-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }